/* src/app/shared/sidebar/sidebar.component.css */
.sidebar-container {
  background-color: #2c3e50; /* Color oscuro del menú */
  color: #ecf0f1; /* Color de texto claro */
  height: 100%;
  padding-top: 20px;
  overflow: hidden; /* Evita que el contenido se vea durante la transición */
  white-space: nowrap; /* Evita que el texto se parta en varias líneas */
}

.user-profile {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #34495e;
}

.user-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #bdc3c7;
  margin: 0 auto 10px;
  /* En un proyecto real, aquí iría una etiqueta <img> */
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li a {
  display: block;
  padding: 15px 20px;
  color: #ecf0f1;
  text-decoration: none;
  transition: background-color 0.3s;
}

.menu li.active a,
.menu li a:hover {
  background-color: #34495e;
}

/* Estilo para el enlace del menú principal cuando está activo (desplegado) */
.menu li a.active-link {
  background-color: #007bff; /* Color azul de resaltado */
  color: #ffffff;
}
.menu li a.active-link .arrow {
  border-top-color: #ffffff; /* La flecha se vuelve blanca */
}

/* Ajusta el submenú para alinear el ícono y el texto */
.sub-menu li a {
  padding-left: 30px; /* Espacio para que no se pegue al borde */
  display: flex;
  align-items: center;
}

.sub-menu li a fa-icon {
  margin-right: 12px; /* Espacio entre el ícono y el texto */
  width: 20px;
  text-align: center;
}

.sub-menu li a:hover {
  background-color: #465a70; /* Un hover un poco más sutil para el submenú */
}